{% extends "base.html" %}
{% set active_page = "index" %}

{% block head %}
    {{ super() }}
    <title>Home</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card w-100 h-100">
                    <img class="card-img-top w-75 mx-auto" src="{{ url_for('static', filename='assets/logo.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Get Help</h3>
                        <p class="card-text">You are old or at risk and would need help from a volunteer. Contact them here !</p>
                        <a href="get-help" class="btn btn-primary">Get help now !</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card w-100 h-100">
                    <img class="card-img-top w-75 mx-auto" src="{{ url_for('static', filename='assets/logo.jpg') }}" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title">Provide Help</h3>
                        <p class="card-text">You have a good health condition and wish to volunteer to help others. Check help requests around you here !</p>
                        <a href="requests" class="btn btn-primary">Give help now !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
