{% extends "base.html" %}
{% set active_page = "requests" %}

{% block head %}
    {{ super() }}
    <title>Requests</title>
{% endblock %}

{% block content %}
<div id="root">  
    <div class="container">
        <div class="row mt-2" style="height: 90%">
            <div class="col-9">
                <gmap-map
                    :center="center"
                    :zoom="10"
                    map-type-id="roadmap"
                    style="height: 100%"
                    :options="{
                        zoomControl: true,
                        mapTypeControl: false,
                        scaleControl: false,
                        streetViewControl: false,
                        rotateControl: false,
                        fullscreenControl: false,
                        disableDefaultUI: true
                    }">
                    <gmap-marker
                        :key="index"
                        v-for="(m, index) in requests"
                        :position="m.position"
                        :clickable="true"
                        :draggable="true"
                        @click="current_request = m"
                        />
                    </gmap-map>
            </div>
            <div class="col-3">
                <div v-if="current_request != null" class="card">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title">Request from ${current_request.name}</h5>
                            <p class="card-text">
                                <strong>Category ${current_request.category}</strong>
                            </p>
                            <p class="card-text">
                                ${current_request.request}
                            </p>
                            <button v-if="user == ''" class="btn btn-primary" disabled>Login to take this request</button>
                            <button v-else class="btn btn-primary" @click="take_request">Take this request</button>
                        </div>
                    </div>
                </div>
                <div v-else class="text-center">Select a request</div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{{ url_for('static', filename='js/vue-google-maps.js') }}" crossorigin="anonymous"></script>

    <script>
        Vue.use(VueGoogleMaps, {
            load: {
                key: 'AIzaSyA5D1b5nP2qQ7ZCfcFPdFuiSilfSPEhODM',
                libraries: 'places', // OR: libraries: 'places,drawing,visualization'
            },
            installComponents: true
        })
        
        var app;

        document.addEventListener('DOMContentLoaded', function() {
            app = new Vue({
                el: '#root',
                delimiters: ['${', '}'],
                data: {
                    center: {
                        lat: 46.82,
                        lng: 8.1
                    },
                    current_request: null,
                    requests: [],
                    user: ""
                },
                methods: {
                    load_position: function () {
                        $.get("https://ipinfo.io?token=3780b24978d6b6", (response) => {
                            [this.center.lat, this.center.lng] = response.loc.split(",").map(parseFloat);
                        }, "jsonp");
                    },
                    load_requests: function () {
                        $.get("/api/requests").then((requests) => {
                            for (i in requests) {
                                requests[i].position = {lat:requests[i].latitude, lng:requests[i].longitude};
                                this.$set(this.requests, i, requests[i]);
                            }
                        });
                    },
                    load_user: async function () {
                        this.user = (await $.get("/api/login")).email;
                    },
                    take_request: function () {
                        $.get("/api/assign-request", {"id": this.current_request.id}).then(() => {
                            location = "/my-requests"
                        });
                    }
                },
                created: function () {
                    this.load_position();
                    this.load_requests();
                    this.load_user();
                }
            });
        });
  </script>
  
  {% endblock %}
